<h3>Register</h3>
<div>
<%= form_for @user do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>
<%= sensible_error(@user.errors[:email], 'email') %>

<%= f.label :password %>
<%= f.password_field :password %>
<%= sensible_error(@user.errors[:password], 'password') %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
<%= sensible_error(@user.errors[:password_confirmation], 'confirmation') %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= sensible_error(@user.errors[:first_name], 'first name') %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= sensible_error(@user.errors[:last_name], 'last name') %>

<%= f.submit "Register", class: "btn btn-large btn-primary" %>
<% end %>		
</div>