<!DOCTYPE html>
<html>
<head>
  <title>Formify</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
		
	<% if content_for?(:section) %>
		<div class="section-head">
			<h3><%= yield(:section) %></h3>
		</div>
	<% end %>

	<div class="section-body container">
		<%= yield %>
	</div>


	<% if Rails.env.development? %>
		<div class="container">
	    <%= debug(params) %>
	    </div>
		</div>
	<% end %>
</body>
</html>
